.btn-eliminar {
    width: 100px;
    border: solid 3px #F53D2E;
    background-color: white;
    border-radius: 1em;
    padding: 12px;
    -webkit-transition: all 0.5s ease-in-out;
}

.btn-eliminar:hover {
    width: 105px;
    padding: 15px;
    border-radius: 1em;
    color: white;
    background-color: #F53D2E;
    -webkit-transition: all 0.5s ease-in-out;
}
