<body>
  <section class="educacion container">
    <form
      class="form__educacionContainer"
      (ngSubmit)="onSubmit()"
      [formGroup]="educacion"
    >
      <h2>Educacion</h2>
      <br />
      <label for="institucion">Nombre de la institucion</label><br />
      <input
        id="institucion"
        class="form-control"
        type="text"
        formControlName="institucion"
      /><br />

      <label for="ciudad">Donde fue? Indica la ciudad</label><br />
      <input
        id="ciudad"
        class="form-control"
        type="text"
        formControlName="ciudad"
      /><br />

      <label for="titulo">Titulo</label><br />
      <input
        id="titulo"
        class="form-control"
        type="text"
        formControlName="titulo"
      /><br />

      <p class="fechaDeEducacion">Elige el periodo de la educacion</p>
      <label>Fecha de inicio</label><br />
      <input
        class="forma__fechaDeIncio form-control"
        type="date"
        formControlName="fechaInicio"
      /><br />
      <label>Fecha de culminacion</label><br />
      <input
        class="forma__fechaDeFin form-control"
        type="date"
        formControlName="fechaFin"
      /><br />
      <button class="btn btn-warning">Agregar</button><br /><br /><br />
    </form>

    <div class="educacionContainer">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Nombre Institucion</th>
            <th>Titulo Obtenido</th>
            <th>Ciudad</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let educacion of educaciones" class="text-center">
            <td>{{ educacion.nombreInstitucion }}</td>
            <td>{{ educacion.titulo }}</td>
            <td>{{ educacion.ciudad }}</td>
            <td>{{ educacion.fechaInicio }}</td>
            <td>{{ educacion.fechaFin }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="onClick(educacion.educacionId)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
