<body>
  <section class="Experiencia container">
    <form
      class="experienciaContainer"
      (ngSubmit)="onSubmit()"
      [formGroup]="experiencias"
    >
      <h2>Experiencias Laborales</h2>
      <br />
      <label for="empresa">Nombre de la empresa</label><br />
      <input
        id="empresa"
        class="form-control"
        type="text"
        formControlName="empresa"
      /><br />

      <label for="cargo">Cual fue tu cargo</label><br />
      <input
        id="cargo"
        class="form-control"
        type="text"
        formControlName="cargo"
      /><br />

      <label for="descripcion">Descipcion de esta experiencia</label><br />
      <input
        id="descripcion"
        class="form-control"
        type="text"
        formControlName="descripcion"
      /><br />

      <p class="fechaDeExperiencia">Elige el periodo de esta experiencia</p>
      <label>Fecha de inicio</label><br />
      <input
        class="forma__fechaDeIncio form-control"
        type="date"
        formControlName="fechaInicio"
      /><br />
      <label>Fecha de culminacion</label><br />
      <input
        class="forma__fechaDeFin form-control"
        type="date"
        formControlName="fechaFin"
      /><br />
      <button class="btn btn-warning">Agregar</button><br /><br /><br />
    </form>

    <div class="allExperienciasContainer">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Nombre Empresa</th>
            <th>Cargo</th>
            <th>Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let experiencia of experienciasArray" class="text-center">
            <td>{{ experiencia.nombreEmpresa }}</td>
            <td>{{ experiencia.cargo }}</td>
            <td>{{ experiencia.descripcion }}</td>
            <td>{{ experiencia.fechaInicio }}</td>
            <td>{{ experiencia.fechaFin }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="eliminarExperiencia(experiencia.idExperiencia)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
