<body>
  <section class="talleres container">
    <form
      class="talleresContainer"
      (ngSubmit)="onSubmit()"
      [formGroup]="talleres"
    >
      <h2>Talleres</h2>
      <label for="nombreTaller">Nombre del taller</label><br />
      <input
        type="text"
        class="form__nombreDeTaller form-control"
        id="nombreTaller"
        formControlName="nombreTaller"
      /><br />

      <label for="institucionTaller">Nombre de la institucion</label><br />
      <input
        type="text"
        class="form__nombreInstitucion form-control"
        id="institucionTaller"
        formControlName="nombreInstitucion"
      /><br />
      <button class="btn btn-warning">Enviar</button><br /><br />
    </form>
    <div class="todosLosTalleresContenedor">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Taller De</th>
            <th>Intitucion</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let taller of todosLosTalleres" class="text-center">
            <td>{{ taller.nombre }}</td>
            <td>{{ taller.institucion }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="onClick(taller.idTaller)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>