<div *ngIf="certificaciones">
<div *ngIf="certificaciones.length > 0">
    <h3 class="card-text"> Certificaciones:</h3>
    <div *ngFor="let certificacion of certificaciones">
      <h2 class="card-text"> {{certificacion.nombre}} </h2>
      <p class="card-text"> {{certificacion.institucion}} </p>
      <p class="card-text"> {{certificacion.periodo}} </p>
      <br>
    </div>
  </div>
</div>