<div class="container">
    <form [formGroup]="datosPersonales">
        <div class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div class="alert alert-danger" role="alert">
                El nombre es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" formControlName="apellido">
            <div class="alert alert-danger" role="alert">
                El apellido es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Tipo de Documento</label>
            <select class="form-control" formControlName="tipoDocumento">
                <option value="">Seleccione tipo de documento</option>
                <option *ngFor="let tipoDocumento of tiposDocumento"
                        [value]="tipoDocumento"> {{ tipoDocumento }} </option>
            </select>
            <div class="alert alert-danger" role="alert">
                El tipo de documento es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Número Documento</label>
            <input type="number" class="form-control" formControlName="numeroDocumento">
            <div class="alert alert-danger" role="alert">
                El número de documento es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Género</label>
            <select class="form-control">
                <option value="">Seleccione genero</option>
                <option *ngFor="let genero of generos"
                        [value]="genero"> {{ genero }} </option>
            </select>
            <div class="alert alert-danger" role="alert">
                El género es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Edad</label>
            <input type="number" class="form-control" formControlName="edad">
            <div class="alert alert-danger" role="alert">
                La edad es requerida
            </div>
        </div>

        <div class="form-group">
            <label>Número de Télefono</label>
            <input type="number" class="form-control" formControlName="telefono">
            <div class="alert alert-danger" role="alert">
                El número de télefono es requerido
            </div>
        </div>

        <div class="form-group">
            <label>Dirección de Correo Electrónico</label>
            <input type="text" class="form-control" formControlName="correo">
            <div class="alert alert-danger" role="alert">
                El correo electrónico es requerido
            </div>
            <div class="alert alert-danger" role="alert">
                Correo inválido
            </div>
        </div>

        <button (click)="cargar()" class="btn btn-primary">Editar</button>
    </form>
</div>