<div class="row margin-bottom">
  <div class="col-sm-12" *ngFor="let usuario of usuarios | paginacion:pageSize:pageNumber">
    <div class="card">      
      <div *ngIf="usuarios">
        <div class=" card-body" *ngIf="usuarios.length > 0">

          <h5 class="card-title"> {{usuario.nombre}} {{usuario.apellido}} </h5>

          <p class="card-text"> {{usuario.correo}} </p>

          <p class="card-text"> {{usuario.rol}} </p>

          <app-listar-certificaciones [usuarioId]="usuario.usuarioId"></app-listar-certificaciones>

          <app-listar-habilidades [usuarioId]="usuario.usuarioId"></app-listar-habilidades>

        </div>
      </div>
    </div>
    <br>
  </div>
</div>