<div *ngIf="habilidades">
  <div *ngIf="habilidades.length > 0">
    <h3 class="card-text"> Habilidades:</h3>
    <div *ngFor="let habilidad of habilidades">
      <p class="card-text"> {{habilidad.habilidad}} </p>
      <br>
    </div>
  </div>
</div>