.container{
    margin-top: 100px;
    text-align: center;
}

.loginBtn{
    font-size: 16px;
    padding: 5px;
    align-content: center;
    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    
}

#texto{
   margin-top: auto;
   margin-bottom: 25px;
    justify-content: center;
    line-height: 24px;
}

#logo_sofka{
    width: 400px;
   
}

#logo_google{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 30px;
}

h2{
    font-size: 200%;
    margin-top: 40px;
}

span{
    margin-left: 30px;
    margin-right: 30px;
}

p{
    font-size: 19px;
}



