<body>
  <section class="perfil container">
    <form class="perfilContainer" (ngSubmit)="onSubmit()" [formGroup]="perfiles">
      <h2>Perfil</h2>
      <label for="perfil">Ingresa tu descripcion profesional</label><br />
      <textarea class="perfil__area" id="perfil" cols="80" rows="10" formControlName="perfil"></textarea><br />
      <button class="btn btn-warning">Enviar</button>
      <br /><br /><br />
    </form>
  </section>
</body>