<body>
  <section class="cursos container">
    <form class="cursosContainer" (ngSubmit)="onSubmit()" [formGroup]="cursos">
      <h2>Cursos</h2>
      <label for="nombreCurso">Nombre del curso</label><br />
      <input
        type="text"
        class="form__nombreDeCurso form-control"
        id="nombreCurso"
        formControlName="nombreCurso"
      /><br />

      <label for="institucionCurso">Nombre de la institucion</label><br />
      <input
        type="text"
        class="form__nombreInstitucion form-control"
        id="institucionCurso"
        formControlName="institucion"
      /><br />

      <button class="btn btn-warning">Agregar</button><br /><br /><br />
    </form>
    <div class="listCursoContainer">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Curso En</th>
            <th>Institucion</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursosArray" class="text-center">
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.institucion }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="eliminarCurso(curso.idCurso)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
