<body>
  <section class="certificaciones container">
    <form
      class="certificadosContainer col-sm-3"
      (ngSubmit)="onSubmit()"
      [formGroup]="certificaciones"
    >
      <h2>Certificaciones</h2>
      <label for="nombreCertificacion">Nombre de la Certificacion</label><br />
      <input
        class="form__nombreCertificacion form-control"
        type="text"
        id="nombreCertificacion"
        formControlName="certificacion"
      /><br />

      <label for="nombreIntitucion">Nombre de la institucion</label><br />
      <input
        type="text"
        class="form___nombreInstitucion form-control"
        id="nombreIntitucion"
        formControlName="institucion"
      /><br />

      <label for="periodoCertificacion">Tiempo de cestificacion</label><br />
      <input
        type="date"
        class="form__periodo form-control"
        id="periodoCertificacion"
        formControlName="fecha"
      /><br />
      <button class="btn btn-warning">Agregar</button><br /><br /><br />
    </form>
    <section>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Certificado En</th>
            <th>Institucion</th>
            <th>Periodo</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let certificacion of certificacionesArray"
            class="text-center"
          >
            <td>{{ certificacion.nombre }}</td>
            <td>{{ certificacion.institucion }}</td>
            <td>{{ certificacion.periodo }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="eliminarCertificacion(certificacion.idCertificacion)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</body>
