body{
    display: flex;
    justify-content: center;
}
section .certificaciones{
        margin: auto;
}
/* Style buttons */
#deletebtn {

    background-color: #ffc107; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: .25rem;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

