<body>

  <div class="container">

    <div class="row">
      <!-- Formulario buscador. -->
      <div class="col-md-4">
        <div class="row">
          <form [formGroup]="validar">
            <div class="row">
              <div class="margin">
                <input type="text" name="buscar" class="form-control" formControlName="buscar" placeholder="Nombre" [(ngModel)]="usuarioABuscar">
                <div class="alert alert-danger" role="alert" *ngIf="validar.controls['buscar'].invalid && validar.controls['buscar'].dirty">
                  Campo requerido
                </div>
              </div>
            </div>

            <div class="row">
              <div class="margin">
                <input type="text" name="apellido" class="form-control" formControlName="apellido" placeholder="Apellido">
              </div>
            </div>

            <div class="row">
              <div class="margin">
                <input type="text" name="correo" class="form-control" formControlName="correo" placeholder="Correo">
              </div>
            </div>

            <div class="row">
              <div class="margin">
                <input type="text" name="certificacion" class="form-control" formControlName="certificacion" placeholder="Certificacion">
              </div>
            </div>

            <div class="row">
              <div class="margin">
                <input type="text" name="habilidad" class="form-control" formControlName="habilidad" placeholder="Habilidad">
              </div>
            </div>

            <!-- <div class="row margin">
              <select class="form-control form-control">
                <option disabled selected>Selecciona una opción</option>
              </select>
            </div> -->


            <div class="row justify-content-center">
              <div class="margin">
                <button [disabled]="!validar.valid" type="submit" class="btn btn-warning" (click)="filtrar()">Buscar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- End formulario buscador. -->

      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-12">
            <app-listar-usuarios [usuarios]="usuarios" [pageSize]="pageSize" [pageNumber]="pageNumber">
            </app-listar-usuarios>
          </div>
        </div>

        <div class="row">
          <div class="justify-content-center form-group col-sm-12">
            <mat-paginator [length]="usuarios.length" [pageSize]="pageSize" (page)="handlePage($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <app-listar-usuarios [usuarios]="usuarios" [pageSize]="pageSize" [pageNumber]="pageNumber">
    </app-listar-usuarios>

  </div>

</body>