

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">Our Sofka</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio"
          >Inicio<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datosPersonales">Datos Personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hojaDeVida">Hoja de Vida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Buscador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Administrador</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div id="barra_principal" *ngIf="auth.user | async as user">
        <p id="texto_estado">
          Bienvenido, {{ user.displayName }}
          <img
            data-toggle="modal"
            data-target="#exampleModal"
            id="foto_de_perfil"
            [src]="user.photoURL"
            alt="Foto de perfil"
          />
          <button id="boton_salir" (click)="auth.signOut()">
            <img id="imagen_salir" src="assets/img/salir.png" alt="hola" />
          </button>
        </p>
        <!----------------------------VENTANA MODAL----------------------------------------------------------->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  DATOS PERSONALES
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  *ngFor="let item of datosActualizar"
                  (ngSubmit)="onSubmit()"
                  [formGroup]="usuarios"
                >
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Identificacion:</label
                    >
                    <input
                      disabled="true"
                      [(ngModel)]="item.numeroDeDocumento"
                      formControlName="numeroDeDocumento"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Tipo de documento:</label
                    >

                    <input
                      disabled="true"
                      formControlName="tipoDeDocumento"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                      [(ngModel)]="item.tipoDeDocumento"
                    />
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Nombre:</label
                    >

                    <input
                      placeholder="{{ item.nombre }}"
                      formControlName="nombre"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Apellido:</label
                    >

                    <input
                      placeholder="{{ item.apellido }}"
                      formControlName="apellido"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Edad:
                    </label>

                    <input
                      placeholder="{{ item.edad }}"
                      formControlName="edad"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Genero:
                    </label>

                    <input
                      formControlName="genero"
                      type="text"
                      class="form-control"
                      placeholder="{{ item.genero }}"
                      id="recipient-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Numero De Telefono:</label
                    >

                    <input
                      placeholder="{{ item.numeroDeTelefono }}"
                      formControlName="numeroDeTelefono"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Correo:</label
                    >

                    <input
                      disabled="true"
                      formControlName="correo"
                      type="text"
                      class="form-control"
                      id="recipient-email"
                      [(ngModel)]="item.correo"
                    />
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >Rol:</label
                    >

                    <input
                      disabled="true"
                      [(ngModel)]="item.rol"
                      formControlName="rol"
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <button type="input" class="btn btn-primary">
                    Actualizar
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</nav>
