.navbar{
    background-color: rgb(255, 145, 0);
}

#barra_principal{
    text-align: right;
    margin-bottom: -20px;
}

#foto_de_perfil{
    border-radius: 360px;
    height: 30px;
    padding: 5px;
}

#boton_salir{
    background-color: transparent;
    border: 3px solid rgb(255, 145, 0);
}

#imagen_salir{
    height: 20px;
}

p{
    font-size: 19px;
}