<body>
  <section class="perfil container">
    <form
      class="habilidadesContainer"
      (ngSubmit)="onSubmit()"
      [formGroup]="habilidad"
    >
      <h2>Habilidades</h2>
      <div class="col-lg-12">
        <label class="habilidadCategoria" for="habilidad"
          >Ingresa la categoria de tu habilidad</label
        >
        <input
          id="habilidad"
          class="form-control"
          type="text"
          formControlName="categoria"
        />
        <label for="itemsDeHabilidad"
          >Ingresa los items para este tipo de habilidad</label
        >
        <input
          class="habilidadInput form-control"
          type="text"
          id="itemsDeHabilidad"
          formControlName="item"
        /><br />
        <button class="btn btn-warning">Agregar</button><br /><br /><br />
      </div>
    </form>
    <div class="habilidadesContainer">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Tipo Habilidad</th>
            <th>Habilidad</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let habilidad of habilidadesIngresadas"
            class="text-center"
          >
            <td>{{ habilidad.categoria }}</td>
            <td>{{ habilidad.habilidad }}</td>
            <td>
              <button
                id="deletebtn"
                type="button"
                class="fa fa-trash"
                (click)="eliminarHabilidad(habilidad.id)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
