<body>
  <div class="container">
    <section class="formsContainer">
      <app-perfil></app-perfil>
      <app-habilidades></app-habilidades>
      <app-experiencias></app-experiencias>
      <app-educacion></app-educacion>
      <app-certificaciones></app-certificaciones>
      <app-cursos></app-cursos>
      <app-talleres></app-talleres>
      
      <button (click)="cancelarForm()" routerLink="/search" 
                class="btn btn-warning">Cancelar llenado de formulario</button>
    </section>
  </div>
  <!-- <app-footer></app-footer> -->
</body>