<div *ngIf="auth.user$ | async; then authenticated; else guest"></div>

<!-- Usuario sin logear -->
<ng-template #guest>
  <div class="container mt-5">
    <img
      id="logo_sofka"
      src="assets/img/logo_sofka.png"
      alt="Sofka Technologies logo"
    />
    <h2>Bienvenido</h2>
    <p>Inicia sesión con tu cuenta de Sofka</p>
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto">
        <button class="loginBtn" (click)="auth.googleSignin()">
          <span
            ><img
              id="logo_google"
              src="assets/img/logo_google.png"
              alt="Logo de Google"
            /><a id="texto">Continuar con Google</a></span
          >
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Usuario logeado -->
<ng-template #authenticated> 
    <!-- <div id="barra_principal" *ngIf="auth.user$ | async as user">
      <button id="boton_salir" (click)="auth.signOut()"><img id="imagen_salir" src="assets/img/salir.png" alt="hola"></button>
        <p id="texto_estado">Hola, {{ user.displayName }}
          <img id="foto_de_perfil"  [src]="user.photoURL" alt="Foto de perfil">
        </p>
    </div> -->
    
     <app-formulario></app-formulario>
</ng-template>


