<body>
    <section>
        <header>
            <h1>Registrar Sofkiano</h1>
        </header>
    </section>
    <section class="register container">
        <form
            class="register-form"
            (ngSubmit)="onSubmit()"
            [formGroup] = "register"
        >
            <label for="name">Nombre</label>
            <br>
            <input
                id="name"
                class="form-control"
                type="text"
                autofocus
                formControlName="nombre">
            <br>
            <label for="last_name">Apellidos</label>
            <br>
            <input
                id="last_name"
                class="form-control"
                type="text"
                formControlName="apellido">
            <br>
            <label>Tipo</label>
            <br>
            <select class="form-control"
                    formControlName="tipoDeDocumento">
                <option value="">Seleccionar tipo de documento</option>
                <option *ngFor="let tipo of tiposDeDocumento"
                        [value]="tipo">{{ tipo }}</option>>
            </select>
            <br>
            <label for="identity_document">Documento de identidad</label>
            <br>
            <input
                id="identity_document"
                class="form-control"
                type="text"
                formControlName="numeroDeDocumento">
            <br>
            <label>Género</label>
            <br>
            <select class="form-control"
                    formControlName="genero">
                    <option value="">Seleccionar género</option>
                    <option *ngFor="let gender of generos"
                            [value]="gender">{{ gender }}</option>>
            </select>
            <br>
            <label for="age">Edad</label>
            <br>
            <input
                id="age"
                type="number"
                class="form-control"
                formControlName="edad">
            <br>
            <label for="tel_number">Número de teléfono</label>
            <br>
            <input
                id="tel_number"
                type="tel"
                class="form-control"
                formControlName="telefono">
            <br>
            <label for="correo">Dirección de correo</label>
            <br>
            <input
                id="correo"
                type="email"
                class="form-control"
                formControlName="correo">
            <br>
            <br>
            <button type="submit" class="btn btn-warning">Registrarse</button>
        </form>
    </section>
</body>
